.sinPadding {
	padding: 0px;
}

.menuVertical a:hover{
	
	color: red;
	
}

.menuVertical a{
	
	color:black;
	
}

#footer{
		position:fixed;
		left:0px;
		bottom:0px;
		width:100%;
		background:#8A0808;
		line-height:30px;
		color:#fff;
        opacity: 0.6;
	}

