{% extends 'bestnidBundle:Subasta:base.html.twig' %}

{% block contenedor %}  
	<div class="row panel">
    	<h3 class="highlight">Preguntas Frecuentes</h3>
              
        	
			<div class="panel panel-primary"> 
				<div class="panel-heading"><b> Como crear un usuario</b> </div>
				<div class="panel-body"> Para crear un usuario debe clickear en la pesta&ntilde; "Registrarse" en la parte superior derecha del sitio. Luego de esto debera completar los campos necesarios y clickear "Registrar" que se encuentra al final del cuestionario.</div>
			</div>
			      
			<div class="panel panel-primary"> 
				<div class="panel-heading"> <b> Como crear una subasta </b> </div>
				<div class="panel-body"> Para crear una subasta debe estar dentro de su cuenta, luego clickear el boton "Subastar" (posicionado a la derecha del boton del usuario), y a continuacion completar todos los campos necesarios.<br> <b>Aclaracion:</b> para poder crear la subasta exitosamente usted debe tener obligatoriamente una imagen para poder cargarla sobre el producto.</div>
			</div>
		
			<div class="panel panel-primary"> 
				<div class="panel-heading"><b> Como ofertar en una subasta </b></div>
				<div class="panel-body"> Para generar una oferta en una subasta debe buscar la subasta que le interesa y presionar el boton "Ofertar", una vez en la pagina de ofertar usted debera especificar el monto que desea pagar por dicha subasta y poner su motivo del por que lo necesita.<br><b>Aclaracion:</b> para poder ofertar usted debera tener su cuenta iniciada obligatoriamente.</div>
			</div>
		
			<div class="panel panel-primary"> 
				<div class="panel-heading"> <b> Como modificar mis datos de usuario</b> </div>
				<div class="panel-body"> Para modificar los datos de su usuario debe ingresar la cuenta en primera instancia, luego debe ir al menu desplegable que dice su "Nombre" y clickear en el boton "Mi Cuenta". Una vez alli debe ir a la pesta&ntilde;a "Datos Personales" y clickearen "Modificar Perfil" que se encuentra al finalizar toda su informacion. Una vez en la seccion de modificacion de perfil, modifica los datos que usted desee y debe confirmar este cambio con la contrase&ntilde;a actual que usted dispone.</div>
			</div>
		
			<div class="panel panel-primary"> 
				<div class="panel-heading"> <b> Como saber si gane una subasta</b> </div>
				<div class="panel-body"> Cuando usted gane una subasta recibira una notificacion en su cuenta, para poder verla debe dirigirse a "Nombre">"Mi Cuenta".</div>
			</div>
		
		
	</div> 
{% endblock %}