{% extends 'bestnidBundle:Default:base.html.twig' %}

{% block contenedor %}

<div class="panel">
    <h2></h2>
	<div class="alert alert-danger fade in">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Error!</strong> No es posible ejecutar la operacion
	</div>
	
</div>
{% endblock %}