{% extends 'bestnidBundle:Default:base.html.twig' %}

{% block contenedor %}
<ol class="breadcrumb">
		  <li><a href="{{ path('miCuenta')}}">Mi Cuenta</a></li>
</ol>
<div class="panel">
    <h2></h2>
	<div class="alert alert-danger fade in">
		<strong>Error!</strong> No es posible que oferte en su propia subasta.
	</div>
	
</div>
{% endblock %}